.container-base{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
  background-color: #F0F8FF;
}

.pokemon-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.pokemon-card {
  text-align: center;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 8px;
  width: 120px;
  background-color: #f8f8f8; /* A cor será sobrescrita pelo getTypeColor */
  transition: background-color 0.3s ease;
}

.pokemon-card img {
  width: 100px;
  height: 100px;
}

/* Estilização da paginação */
.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.pagination button {
  padding: 10px 20px;
  border: none;
  background-color: #ffcb05;
  color: #3b4cca;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination button:hover:not(:disabled) {
  background-color: #ffad05;
}

.pokemon-header {
  background-color: #FF6961;
  padding: 15px;
  text-align: center;
  border-radius: 8px;
  margin-bottom: 15px;
  color: white;
  font-weight: bold;
  width: 95.5%;
}


.custom-select {
  background-color: #FF6961;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  width: 120px; /* Largura fixa, ajuste conforme necessário */
  text-align: center;

  /* Remove a aparência padrão para possibilitar a customização */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /* Adiciona uma seta customizada */
  background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 20px;
}

.custom-select:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Opcional: estiliza as opções do select para melhor legibilidade */
.custom-select option {
  color: #000;
}
